@font-face {
    font-family: "Lato Semibold";
    src: url("../assets/fonts/Lato/Lato-Semibold.woff") format("woff"),
        url("../assets/fonts/Lato/Lato-Semibold.ttf") format("truetype");
    font-weight: 600;
}
