$font-size-main: 18px;
$width_content: 1170px;
$adaptive_width_content: calc($width_content / 2);
$color-main-transparent: #262a3fcf;
$color-main: #262a3f;
$color-secondary: #ffffff;
$color-secondary-transparent: #ffffffe6;
$color-focus-text: #85bbb1;
$color-btn: #53f3cd;
$color-btn: #f1897b;
$color-btn-hover: #e64f3a;
$bg-color-main-light: #ffffff;