$font-size-main: 18px;
$width_content: 1170px;
$adaptive_width_content: calc($width_content / 2);
$color-main-transparent: #ffffffcf;
$color-main: #ffffff;
$color-secondary: #262a3f;
$color-secondary-transparent: #262a3fcf;
$color-focus-text: #689FF2;
$color-btn: #53f3cd;
$color-btn-hover: #02E0AB;
$bg-color-main: #161926;